*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    width: 100%;
    height: 80px;
    background: #101215;
    position: sticky;
    z-index: 100;
    top: 0;
}

.container{
    padding: 0;
    height: 100%;
    margin: auto;   
}

header .logo{
    width: 14%;
    display: inline-block;
    height: 80%;
    margin-top: 5px;
    margin-left: 50px;
}

header .logo a{
    width: 100%;
    height: 100%;
    display: block;
    background: url(https://cdn.vn.garenanow.com/web/lol-product/LOLwebsite/img/logo.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.pc-nav{
    width: 80%;
    height: 100%;
    float: right;
    display: block;
}

.pc-nav .nav{
    width: 100%;
    height: 100%;
}

.nav-li{
    width: 15%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}

ul{
    list-style: none;
}

.pc-nav .nav li a{
   display: flex;
   align-items: center;
   text-align: center;
   height: 98%;
   font-size: 19px;
   background: linear-gradient(#fce5b9,#c19e68);
   font-weight: 600;
   text-decoration: none;
   -webkit-background-clip: text;
   -webkit-text-fill-color: tan;
}

.navBtn{
    display: none;
}

#m-nav{
    display: none;
}
.dropdown{
    display: inline-block;
    width: 30%;
    overflow: hidden;
    text-align: center;
    height: 100%;
}

.dropdown-li {
    width: 40%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 101;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row{
    margin-left: 22%;
}

.column {
    float: left;
    width: 15%;
    background-color: #2c3e50;
    margin-left: 0;
}

.column a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center ;
    padding: 10px 0;
  }
  

#slideshow{
    background-size: cover;
    background-image: url(blurred1.jpg);
    width: 100%;
    height: 500px;
    position: relative;
}

#slideshow img{
    position: absolute;
    width: 90%;
    top: 7%;
    left: 5%;
}

#slideshow label{
    display: inline-block;
    background:#559392;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    padding:5px;
}

#slideshow #dot{
    position: absolute;
    bottom: 5%;
    left: 44%;
}

#slideshow svg{
    fill: none;
    position:absolute;
    stroke: #c2c1c1;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-dasharray: 2452;
    padding: 70px;
    z-index: 10;
    top: -9%;
}

#info {
padding: 50px 50px 50px 30px;
display: flex;
flex-wrap: wrap;
position: relative;
}

#info .info-box{
    width: 30%;
    margin-left: 39px;
    position: relative;
}


#info .info-box img{
    width: 100%;
}

#info .info-box .link{
    text-decoration: none;
    color:black;
}

#info .info-box h2{
    font-size: 19px;
    font-weight: 900;
    margin-top: 0;
}

#info .info-box .category{
    color:#0ac6e4;
    font-weight: 600;
    margin-bottom: 2px;
}

#info .info-box .text{
    color:grey;
    font-weight: 600;
    font-size: 14px;
}

#info .info-box .time{
    color:grey;
    font-weight: 600;
    font-size: 14px;
    margin: 25px 0;
}

#info .info-box svg{
    fill: none;
    position:absolute;
    stroke: #c2c1c1;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-dasharray: 1120;
    top:-4%;
    padding: 10px;
}

#info #more{
    position: absolute;
    bottom: 1%;
    left: 43%;
    padding: 10px 45px;
    background-color: #0bc6e4;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

footer{
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 50px;
}

footer #text{
    color: white;
    font-size: 13px;
    padding: 10px 200px;
}


footer .more-info{
    color: white;
    padding: 10px;
}

footer #bottom-footer{
    margin: 20px;
    text-align: center;
}

footer #bottom-footer a{
    text-align: center;
    padding: 15px 30px;
    background-color: #0bc6e4;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
}

footer #bottom-footer span{
    width: 180px;
    height: 70px;
    margin-bottom: -30px;
    background-image: url(vn-12.png);
    background-repeat: no-repeat;
    display: inline-block;
}

@media screen and (max-width: 768px) {

#info .info-box{
    margin-left: 100px;
}   

.pc-nav{
    width: 83%;
}

.dropdown{
    width: 35%;
}

.dropdown-li{
    margin-left: 0;
}

.nav-li{
    margin-left: 0;
}

.pc-nav .nav li a {
    font-size: 16px;
}

header .logo{
    margin-top: 15px;
    margin-left: 20px;
}

}

@media screen and (max-width: 750px) {
    header{
        position: fixed;
    }

    header .logo{
        margin: 3% 35%;
    }

    header .logo a{
        width: 200%;
    }

    .pc-nav{
        display: none;
    }

    .navBtn{
        display: flex;
        flex-direction: column;
        background: #ccbe91;
        position: absolute;
        top:-5px;
        bottom: 0;
        right: 30px;
        width: 10%;
        height: 50px;
        margin: auto 0;
        z-index: 100;
        border-radius: 50%;
    }

    .navBtn .line{
        width: 30px;
        height: 2px;
        margin: auto;
        background: black;
        display: block;
        border-radius: 21px;
    }


    #m-nav{
        width: 67%;
        height: 100%;
        position: fixed;
        top:80px;
        right: 0;
    }
    #m-nav .m-header{
        height: 100%;
    }

    #m-nav .m-content{
        width: 100%;
        height: 100%;
        color: #fff;
        background: #061d25;
        overflow-y: scroll;
        right: 0;
    }

    #m-nav .group{
        padding: 20px 25px;
        text-align: left;
    }

    #m-nav .title{
        font-size: 20px;
        background: linear-gradient(#fce5b9,#d1ad6f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: tan;
        font-weight: 700;
    }

    .active{
        margin: 0;
        display: none;
        font-size: 16px;
    }

    .active li{
        padding-top: 25px;
    }

    .active li a{
        text-decoration: none;
        color: white;
    }

    #slideshow img {
        top:30%;
    }

    #slideshow #dot {
        left: 33%;
    }

    #info .info-box{
        width: 90%;
        margin-left: 7%;
    }

    #info #more{
        left: 30%;
    }
    footer #text{
        padding: 10px 0;
    }

}